@import "./common.scss";

.main-mobile-layout {
  display: flex;
  flex-direction: column;

  .navigation {
    width: 100%;
    height: 10%;
    border-bottom: $border;
  }
  .main {
    width: 100%;
    height: 90%;
    overflow-y: overlay;

    .single {
      width: 50%;
      height: 10%;
    }
  }
}

.main-desktop-layout {
  display: flex;

  .navigation {
    width: 20%;
    height: 100%;
    border-right: $border;
    .box-container {
      .box {
        margin-bottom: 24px;
        width: 100%;
        height: 80px;
        border-radius: 4px;
        background-color: $sub-color;
        // box-shadow: 0px 0px 7px 4px rgb(194, 194, 194);
        // border: 1px solid $main-color;
      }
    }
  }
  .main {
    width: 60%;
    height: 100%;
    .single-container {
      height: 150px;
      margin-bottom: 8px;
      border-bottom: 0.5px solid rgb(204, 204, 204);
      justify-content: flex-start;
      &:last-of-type {
        border-bottom: 0;
      }
      .name {
        width: 18%;
      }
      .img-container {
        width: 25px;
        height: 25px;
        img {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
      .price,
      .old-price {
        text-align: end;
        width: 20%;
        span {
          color: $default-color;
        }
      }
      .measure-price {
        text-align: end;
        width: 20%;

        .decrease {
          color: $decrease-color;
        }
        .increase {
          color: $increase-color;
        }
      }
    }
  }
  .sub {
    width: 20%;
    height: 100%;
    border-left: $border;
    .list-container {
    }
  }
}
